doctype
html
    head
        title VIE Dashboard
        link(href="/favicon.ico", rel="shortcut icon", type="image")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    body(ng-app='app')
        block header
        block main-content
        block footer
        include scripts